.case-study-box {
    position: relative;
    padding-bottom: 40px;
    .case-study-img {
        overflow: hidden;
        &:hover .case-study-text {
            border-color: $light-blue;
        }
        &:hover img {
            transform: scale(1.2);
        }
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            transition: all ease 0.4s;
        }
        .case-study-text {
            background: $white-color;
            padding: 35px 10px 38px 10px;
            text-align: center;
            position: absolute;
            left: 40px;
            right: 40px;
            bottom: 0;
            box-shadow: 0px 0px 30px 2.25px rgba(39, 71, 125, 0.08);
            border: 2px solid transparent;
            transition: all ease 0.4s;
            p {
                font-size: 16px;
                color: $grey-color;
                margin-bottom: 5px;
                font-weight: 500;
                line-height: 1.7;
            }
            h5 {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.3;
                color: $blue-color;
            }
            .widget-case-study {
                background: $light-blue;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -27px;
                right: 40px;
                cursor: pointer;
                transition: all ease 0.4s;
                &:hover {
                    background: $blue-color;
                }
            }
        }
    }
}
