.sub-title {
    h3 {
        font-size: $h3-font-size;
        font-family: $dancing-font;
        color: $light-blue;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 10px;
        @media (max-width: 1200px) {
            font-size: 26px;
        }
        @media (max-width: 991px) {
            font-size: 24px;
        }
        @media (max-width: 767px) {
            font-size: 22px;
        }
    }
}
.title {
    h2 {
        color: $blue-color;
        font-size: $h2-font-size;
        line-height: 1.3;
        font-weight: 700;
        font-family: $quicksand-font;
        margin-bottom: 16px;
        span {
            color: $light-blue;
        }
        @media (max-width: 1200px) {
            font-size: 42px;
        }
        @media (max-width: 991px) {
            font-size: 38px;
        }
        @media (max-width: 767px) {
            font-size: 32px;
        }
    }
}
.text {
    p {
        color: $grey-color;
        font-size: $p-font-size;
        line-height: 1.7;
        font-weight: 400;
        margin-bottom: 24px;
    }
}
.title-icon {
    border: 1px solid #07ccec;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        stroke: $light-blue;
    }
}

.title-icon::before {
    content: "";
    background: #07ccec;
    height: 1px;
    width: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
}
.title-icon::after {
    content: "";
    background: #07ccec;
    height: 1px;
    width: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
}