.meet-doctors-box {
    box-shadow: 0px 0 25px 0px rgba(193, 198, 206, 0.2);
    padding: 40px 40px 33px 40px;
    text-align: center;
    position: relative;
    transition: all ease 0.4s;
    background: $white-color;
    &::before {
        content: "";
        background: $light-blue;
        height: 3px;
        width: 0;
        right: auto;
        left: 0;
        bottom: 0;
        transition: all ease 0.4s;
        position: absolute;
    }
    &:hover .meet-doctors-box-img::before {
        visibility: visible;
        opacity: 0.7;
    }
    &:hover .meet-doctors-box-img a {
        visibility: visible;
        opacity: 1;
        transform: rotate(0) translateX(0);
    }
    &:hover.meet-doctors-box::before {
        width: 100%;
        left: auto;
        right: 0;
    }
    .meet-doctors-box-img {
        position: relative;
        margin-bottom: 18px;
        &::before {
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: #27477d;
            z-index: 1;
            transition: all ease 0.4s;
            opacity: 0;
            visibility: hidden;
        }
        img {
            width: 100%;
            height: auto;
        }
        .meet-doctors-box-link {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            text-align: center;
            z-index: 2;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }
        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all ease 0.4s;
            visibility: hidden;
            transform: translateX(30px) rotate(90deg);
            opacity: 0;
            &:nth-child(1) {
                background-color: #27477d;
            }
            &:nth-child(2) {
                background-color: #00acee;
            }
            &:nth-child(3) {
                background-color: #ea4c89;
            }
            &:hover {
                background-color: #27477d;
            }
            svg {
                width: 20px;
                height: 20px;
                fill: $white-color;
            }
        }
    }
    .meet-doctors-box-text {
        .doctor-name {
            h3 {
                color: $blue-color;
                font-size: 24px;
                line-height: 1.2;
                font-family: $quicksand-font;
                font-weight: 700;
                cursor: pointer;
                transition: all ease 0.4s;
                margin-bottom: 10px;
                &:hover {
                    color: $light-blue;
                }
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: $light-blue;
            }
        }
        p {
            line-height: 1.7;
            color: $grey-color;
            font-weight: 400;
            margin: 15px 0;
        }
        .doctor-number-mail {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .doctor-number {
                display: flex;
                justify-content: center;
                gap: 10px;
                align-items: center;
                svg {
                    fill: $light-blue !important;
                }
                a {
                    color: $blue-color;
                    font-size: 16px;
                    font-weight: 600;
                    transition: all ease 0.4s;
                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }
    }
}
