.news-box {
    position: relative;
    &:hover img {
        transform: scale(1.2);
    }
    &:hover .news-box-text {
        border-color: $light-blue;
    }
    .news-box-img {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            transition: all ease 0.4s;
        }
    }
    .news-box-text {
        border: 2px solid #ebf2fe;
        padding: 34px 40px 32px 40px;
        border-top: none;
        transition: all ease 0.4s;
        .news-text-icon-main {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 10px;
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                color: $grey-color;
                font-weight: 500;
                svg {
                    fill: $grey-color;
                    width: 14px;
                    height: 14px;
                }
            }
        }
        .news-box-text-heading {
            a {
                color: $blue-color;
                font-weight: 700;
                line-height: 1.4;
                height: 53px;
                overflow: hidden;
                &:hover{
                    color: $light-blue;
                }
            }
        }
        .news-box-text-link {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
            line-height: 0.8;
            letter-spacing: 1px;
            font-size: 16px;
            color: $light-blue;
            margin-top: 10px;
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                &:hover{
                    color: $blue-color;
                }
                &:hover svg{
                    fill: $blue-color;
                }
                &:hover::after{
                    width: 100%;
                }
                &::after{
                    content: "";
                    background: $blue-color;
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    height: 1px;
                    transition: all ease .4s;
                    width: 0;
                }
                svg {
                    fill: $light-blue;
                    width: 15px;
                    height: 16px;
                }
            }
        }
    }
    .news-box-date {
        padding: 13px 5px 16px 5px;
        background: #fff;
        text-align: center;
        width: 60px;
        position: absolute;
        top: 40px;
        right: 40px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: $blue-color;
        font-size: 14px;
        border-top: 2px solid $light-blue;
        .news-box-day {
            h6 {
                font-size: 24px;
                font-weight: 700;
            }
        }
        .news-box-month {
            margin-bottom: 5px;
        }
    }
}
