section.pages-banner {
    padding: 155px 0;
    background: url(../../public/img/pages-banner-bg.jpg);
    .pages-banner-wrapper {
        h2 {
            font-size: 60px;
            color: $blue-color;
            font-weight: bold;
            line-height: 1.3;
            font-family: $quicksand-font;
        }
    }
}
.pages-banner-box {
    margin-top: -60px;
    @media (max-width:500px) {
        margin-top: -35px;
    }
    .pages-banner-box-link-main {
        display: flex;
        align-items: center;
        gap: 10px;
        background: $white-color;
        padding: 48px 100px;
        box-shadow: 0px 15px 42.75px 2.25px rgba(39, 71, 125, 0.07);
        border-radius: 999px;
        width: fit-content;
        margin-left: auto;
        position: relative;
        @media (max-width:767px) {
            padding: 38px 70px;
        }
        @media (max-width:500px) {
            padding: 20px 30px;
            border-radius: 50px;
        }
        a {
            font-size: 18px;
            color: $blue-color;
            line-height: 1.3;
        }
        span {
            font-size: 18px;
            line-height: 1.3;
        }
    }
    .pages-banner-box-home-icon {
        width: 65px;
        height: 65px;
        background: $light-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        border: 10px solid #fff;
        box-shadow: inset 0px 5px 5px 0px rgba(7, 204, 236, 0.3);
        @media (max-width:767px) {
            display: none;
        }
        &::after {
            content: "";
            width: 65px;
            height: 65px;
            box-shadow: inset 0px 5px 5px 0px rgba(7, 204, 236, 0.3);
            border-radius: 50%;
            position: absolute;
        }
    }
}
