.testimonial-box {
    padding: 55px 60px 33px 60px;
    box-shadow: 0px 10px 10px 0px rgba(13, 30, 58, 0.03);
    border-radius: 50px;
    background: $white-color;
    @media (max-width:991px) {
        padding: 25px 30px 30px 30px;
    }
    .testimonial-content {
        p {
            font-size: 18px;
            font-weight: 600;
            color: $grey-color;
            line-height: 1.7;
            letter-spacing: 1px;
            height: 92px;
            overflow: hidden;
        }
    }
    .testimonial-line-img-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .testimonial-box-line {
            width: calc(100% - 85px);
            height: 2px;
            margin-right: 20px;
            opacity: 0.1;
            background: $blue-color;
        }
        .testimonial-box-img {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            box-shadow: 0px 5px 60px 0px rgba(39, 71, 125, 0.18);
            transition: all ease 0.4s;
            padding: 10px;
            background-color: $white-color;
            &:hover{
                background: $light-blue;
            }
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
    }
    .testimonial-box-name-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        .testimonial-box-name {
            h5 {
                color: $blue-color;
                font-size: 20px;
                line-height: 1.3;
                font-weight: 700;
                margin-bottom: 2px;
            }
            p {
                font-size: 14px;
                line-height: 1;
                color: $light-blue;
            }
        }
    }
}
