.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 1200px) {
        max-width: 1140px;
    }

    @media (max-width: 992px) {
        max-width: 960px;
    }

    @media (max-width: 768px) {
        max-width: 720px;
    }

    @media (max-width: 576px) {
        max-width: 540px;
    }

    @media (max-width: 480px) {
        max-width: 100%;
        padding: 0 15px;
    }
}
