* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $roboto-font;
}
ul {
    list-style: none;
}
a{
    transition: all ease 0.4s;
    font-size: 16px;
    line-height: 1;
}
svg{
    transition: all ease 0.4s;
}