section.appointment-section {
    padding: 150px 0;
    @media (max-width: 991px) {
        padding: 50px 0;
    }
    .appointment-section-wrapper {
        display: flex;
        justify-content: space-between;
        @media (max-width:1024px) {
            flex-flow: wrap;
        }
    }
    .appointment-right {
        width: calc(50% - 20px);
        @media (max-width:1024px) {
            width: 100%;
        }
    }
    .appointment-section-right {
        width: calc(50% - 20px);
        @media (max-width:1024px) {
            width: 100%;
        }
        .appointment-item {
            border-top: 1px solid #efeff0;
            padding: 25px 0 25px 0;
            &:last-child {
                border-bottom: 1px solid #efeff0;
            }
            .appointment-question-main {
                display: flex;
                align-items: center;
                gap: 25px;
                cursor: pointer;
                margin-bottom: 15px;
                &:hover .appointment-question-text h3{
                    color: $light-blue;
                }
                &:hover .appointment-question-icon{
                    background: $light-blue;
                }
                &:hover .appointment-question-icon svg{
                    fill: $white-color;
                }
                .appointment-question-icon {
                    min-width: 30px;
                    height: 30px;
                    background: #f5f5f5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: all ease .4s;
                    svg {
                        fill: $blue-color;
                    }
                }
                .appointment-question-text {
                    h3 {
                        font-size: 18px;
                        color: $blue-color;
                        line-height: 1.3;
                        font-weight: 600;
                        transition: all ease .3s;
                    }
                }
            }
            .appointment-ans {
                padding-left: 55px;
                display: none;
                height: 0;
                transition: all ease .4s;
                p {
                    font-size: 16px;
                    color: $grey-color;
                    line-height: 1.7;
                }
            }
        }
    }
}
