section.blog {
    padding: 150px 0;
    @media (max-width: 991px) {
        padding: 50px 0;
    }
    .blog-wrapper {
        display: flex;
        align-items: start;
        gap: 30px;
        @media (max-width: 991px) {
            flex-flow: wrap;
        }
        .blog-left {
            width: calc(68% - 30px);
            @media (max-width: 991px) {
                width: 100%;
            }
        }
        .blog-right {
            width: calc(32% - 30px);
            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }
}
.blog-box {
    .blog-img {
        img {
            width: 100%;
            height: auto;
        }
    }
    .blog-text {
        padding: 40px;
        border: 1px solid #ededed;
        border-top: none;
        margin-bottom: 30px;
        @media (max-width: 767px) {
            padding: 20px;
        }
        .blog-link {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 18px;
            @media (max-width:767px) {
                gap: 10px;
            }
            a {
                color: $blue-color;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 5px;
                @media (max-width:767px) {
                    font-size: 12px;
                }
                &:hover {
                    color: $light-blue;
                }
                svg {
                    fill: $light-blue;
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .blog-heading {
            h3 {
                font-size: 30px;
                color: $blue-color;
                line-height: 1.3;
                font-family: $blue-color;
                font-weight: 800;
                margin-bottom: 15px;
                transition: all ease 0.4s;
                cursor: pointer;
                &:hover {
                    color: $light-blue;
                }
            }
            p {
                font-size: 16px;
                color: $grey-color;
                line-height: 1.7;
                margin-bottom: 15px;
            }
            a {
                display: flex;
                align-items: center;
                gap: 5px;
                color: $light-blue;
                font-weight: 800;
                svg {
                    fill: $light-blue;
                }
            }
        }
    }
}

.search {
    background-color: #f3f6f7;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    @media (max-width: 767px) {
        padding: 30px 20px;
    }
    h5 {
        padding-bottom: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 1.3;
        color: $blue-color;
        font-family: $quicksand-font;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 50px;
            height: 3px;
            background-color: $light-blue;
        }
        &::before {
            content: "";
            position: absolute;
            left: 55px;
            bottom: 0px;
            width: 7px;
            height: 3px;
            background-color: $blue-color;
        }
    }
    .search-box-main {
        display: flex;
        align-items: center;
        input {
            height: 50px;
            padding: 8px 8px 8px 20px;
            border: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 100%;
            &::placeholder {
                color: $grey-color;
                font-size: 16px;
            }
        }
        a {
            padding: 6px 10px;
            height: 50px;
            background: $light-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white-color;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            &:hover {
                background: $blue-color;
            }
        }
    }
}
.categories {
    background: #f3f6f7;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    @media (max-width: 767px) {
        padding: 30px 20px;
    }
    h3 {
        padding-bottom: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 1.3;
        color: $blue-color;
        font-family: $quicksand-font;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 50px;
            height: 3px;
            background-color: $light-blue;
        }
        &::before {
            content: "";
            position: absolute;
            left: 55px;
            bottom: 0px;
            width: 7px;
            height: 3px;
            background-color: $blue-color;
        }
    }
}
.categories-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white-color;
    margin-bottom: 10px;
    padding: 17px 20px;
    border-radius: 5px;
    .categories-box-text {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        svg {
            fill: $light-blue;
            width: 8px;
            height: 13px;
        }
        p {
            color: $blue-color;
        }
    }
    .categories-box-number {
        background: $light-blue;
        color: $white-color;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
}

.popular-post {
    background: #f3f6f7;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    @media (max-width: 767px) {
        padding: 30px 20px;
    }
    h3 {
        padding-bottom: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 1.3;
        color: $blue-color;
        font-family: $quicksand-font;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 50px;
            height: 3px;
            background-color: $light-blue;
        }
        &::before {
            content: "";
            position: absolute;
            left: 55px;
            bottom: 0px;
            width: 7px;
            height: 3px;
            background-color: $blue-color;
        }
    }
}

.popular-post-box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5eaee;
    &:hover .popular-pot-box-img img{
        transform: scale(1.2);
    }
    &:last-child {
        border: none;
        margin: 0;
    }
    .popular-pot-box-img {
        overflow: hidden;
        min-width: 80px;
        img {
            min-width: 80px;
            border-radius: 5px;
            transition: all ease .4s;
        }
    }
    .popular-pot-box-text {
        h4 {
            font-size: 16px;
            color: $blue-color;
            font-family: $quicksand-font;
            line-height: 1.3;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all ease .4s;
            &:hover{
                color: $light-blue;
            }
        }
        a {
            font-size: 12px;
            color: $grey-color;
            display: flex;
            align-items: center;
            gap: 5px;
            svg {
                width: 10px;
                height: 13px;
                fill: $grey-color;
            }
        }
    }
}
.popular-tags {
    background: #f3f6f7;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    @media (max-width: 767px) {
        padding: 30px 20px;
    }
    h3 {
        padding-bottom: 20px;
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 1.3;
        color: $blue-color;
        font-family: $quicksand-font;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 50px;
            height: 3px;
            background-color: $light-blue;
        }
        &::before {
            content: "";
            position: absolute;
            left: 55px;
            bottom: 0px;
            width: 7px;
            height: 3px;
            background-color: $blue-color;
        }
    }
    .popular-tags-box {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-flow: wrap;
        a {
            padding: 10.5px 21px;
            background: $white-color;
            border-radius: 9999px;
            font-size: 14px;
            color: $grey-color;
            font-weight: 500;
        }
    }
}
