section.checkout {
    padding: 150px 0;
    @media (max-width: 991px) {
        padding: 50px 0;
    }
    .section-checkout-bg {
        background: #f3f6f7;
        padding: 40px;
        @media (max-width: 767px) {
            padding: 40px 15px;
        }
        .checkout-wrapper {
            display: flex;
            gap: 30px;
            @media (max-width: 991px) {
                flex-flow: wrap;
            }
            .checkout-left {
                width: calc(50% - 30px);
                @media (max-width: 991px) {
                    width: 100%;
                }
                .checkout-left-heading {
                    h3 {
                        font-size: 24px;
                        color: $blue-color;
                        line-height: 1.3;
                        font-family: $quicksand-font;
                        font-weight: 800;
                    }
                }
                .checkout-input-main {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    position: relative;
                    margin-top: 25px;
                    @media (max-width: 991px) {
                        flex-direction: column;
                        align-items: unset;
                    }
                    input {
                        height: 60px;
                        padding: 0 60px 0 30px;
                        border: 1px solid #e3e3e3;
                        border-radius: 5px;
                        width: 100%;
                        outline: none;
                        font-size: 16px;
                        &::placeholder {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                    select {
                        height: 60px;
                        padding: 0 60px 0 30px;
                        border: 1px solid #e3e3e3;
                        border-radius: 5px;
                        width: 100%;
                        outline: none;
                        font-size: 16px;
                        background: $white-color;
                        color: $grey-color;
                        appearance: none;
                    }
                    .select-icon {
                        position: absolute;
                        right: 20px;
                        @media (max-width: 991px) {
                            top: 20px;
                        }
                        svg {
                            fill: $grey-color;
                        }
                    }
                }
            }
            .checkout-right {
                width: calc(50% - 30px);
                @media (max-width: 991px) {
                    width: 100%;
                }
                h3 {
                    font-size: 30px;
                    margin-bottom: 24px;
                    font-family: $quicksand-font;
                    color: $blue-color;
                    line-height: 1.3;
                    font-weight: 800;
                }
                p {
                    font-size: 16px;
                    color: $grey-color;
                    font-weight: 500;
                    margin-bottom: 10px;
                    line-height: 1.7;
                }
                textarea {
                    width: 100%;
                    padding: 17px 60px 17px 30px;
                    border: none;
                    outline: none;
                    border: 1px solid #e3e3e3;
                    border-radius: 5px;
                    @media (max-width: 767px) {
                        padding: 17px 30px 17px 15px;
                    }
                    &::placeholder {
                        font-size: 16px;
                        color: $grey-color;
                    }
                }
            }
        }
        .your-order-wrapper {
            margin-top: 40px;
            h3 {
                font-size: 24px;
                color: $blue-color;
                margin-bottom: 15px;
                font-weight: 800;
                line-height: 1.3;
            }
            .your-order-table {
                table {
                    width: 100%;
                    border-collapse: collapse;
                    thead {
                        @media (max-width: 767px) {
                            display: none;
                        }
                        th {
                            border: 1px solid #e3e6e9;
                            padding: 27px 15px;
                            background: #ecf0f1;
                            font-size: 16px;
                            color: $blue-color;
                            font-family: $quicksand-font;
                            font-weight: 800;
                        }
                    }
                    tbody {
                        tr {
                            @media (max-width: 767px) {
                                display: flex;
                                flex-direction: column;
                                width: calc(100vw - 71px);
                            }
                            td {
                                border: 1px solid #e3e6e9;
                                text-align: center;
                                color: $grey-color;
                                font-weight: 800;
                                padding: 20px 10px;
                                @media (max-width: 767px) {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                                span {
                                    display: none;
                                    @media (max-width: 767px) {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    tfoot {
                        @media (max-width:767px) {
                                width: 100%;
                            }
                        tr {
                            @media (max-width:767px) {
                                width: 100%;
                            }
                            th {
                                border: 1px solid #e3e6e9;
                                padding: 5px 20px;
                                text-align: start;
                                font-size: 14px;
                                font-family: $quicksand-font;
                                color: $blue-color;
                                font-weight: 800;
                                @media (max-width:767px) {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                                span{
                                    display: none;
                                    color: $grey-color;
                                    font-weight: 800;
                                    @media (max-width:767px) {
                                        display: block;
                                    }
                                }
                            }
                            td {
                                text-align: end;
                                color: $grey-color;
                                border: 1px solid #e3e6e9;
                                font-weight: 800;
                                font-size: 14px;
                                padding: 5px 20px;
                                @media (max-width:767px) {
                               display: none;
                            }
                                span {
                                    color: #29af8a;
                                }
                            }
                        }
                    }
                }
            }
            p {
                margin-top: 30px;
                margin-bottom: 20px;
                font-size: 16px;
                color: $grey-color;
            }
        }
    }
}
