section.contact-us-main {
    padding: 150px 0;
    @media (max-width: 991px) {
        padding: 50px 0;
    }
    .contact-us-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1024px) {
            flex-flow: wrap;
        }
        .contact-us-left {
            width: calc(50% - 20px);
            @media (max-width: 1024px) {
                width: 100%;
            }
            iframe {
                width: 100%;
                height: 600px;
            }
        }
        .contact-us-right {
            width: calc(50% - 20px);
            @media (max-width: 1024px) {
                width: 100%;
            }
            .contact-us-right-heading {
                h3 {
                    color: $blue-color;
                    font-size: 36px;
                    font-family: $quicksand-font;
                    margin-bottom: 15px;
                    font-weight: 700;
                }
                p {
                    line-height: 1.7;
                    color: $grey-color;
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }
            .contact-us-right-form-main {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                @media (max-width:767px) {
                    flex-wrap: wrap;
                    row-gap: 15px;
                }
                .contact-us-right-form-input {
                    width: calc(50% - 10px);
                    border-radius: 9999px;
                    border: 2px solid #e5e9ee;
                    transition: all ease 0.4s;
                    padding: 18px;
                    padding-left: 25px;
                    transition: all ease 0.4s;
                    @media (max-width:767px) {
                        width: 100%;
                    }
                    &.active {
                        border-color: $light-blue;
                    }
                    input {
                        outline: none;
                        border: none;
                        width: 100%;
                        &::placeholder {
                            color: $blue-color;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                    select {
                        outline: none;
                        border: none;
                        background: transparent;
                        width: 100%;
                        color: $blue-color;
                    }
                }
            }
            .contact-us-msg {
                textarea {
                    border: 2px solid #e5e9ee;
                    width: 100%;
                    padding: 20px;
                    border-radius: 10px;
                    outline: none;
                    color: $blue-color;
                    margin-bottom: 15px;
                    &:focus {
                        border-color: $light-blue;
                    }
                    &::placeholder {
                        color: $blue-color;
                    }
                }
            }
        }
    }
    .contact-information-wrapper {
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:1024px) {
            flex-flow: wrap;
            row-gap: 15px;
        }
        .contact-information-box {
            @media (max-width: 1024px) {
                width: 100%;
                justify-content: center;
            }
            width: calc(33.33% - 10px);
            display: flex;
            align-items: center;
            padding: 40px;
            background-color: $white-color;
            box-shadow: 5px 15px 60px rgba(27, 33, 47, 0.08);
            position: relative;
            z-index: 1;
            border: 1px solid transparent;
            transition: all ease 0.4s;
            border-radius: 10px;
            gap: 15px;
            &:hover {
                border-color: $light-blue;
            }
            .contact-information-box-icon {
                background: $light-blue;
                border-radius: 50%;
                min-width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 22px;
                    height: 22px;
                }
            }
            .contact-information-box-text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                a {
                    font-size: 18px;
                    color: $blue-color;
                    transition: all ease 0.4s;
                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }
    }
}
