section.services-details {
    padding: 150px 0;
    @media (max-width: 991px) {
        padding: 50px 0;
    }
    .services-details-main-img {
        img {
            width: 100%;
            height: 300px;
        }
        .services-details-box-wrapper {
            display: flex;
            justify-content: center;
            .services-details-box {
                box-shadow: rgba(39, 71, 125, 0.07) 0px 15px 42.75px 2.25px;
                background: $white-color;
                padding: 60px 80px;
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 1012px;
                margin-top: -90px;
                margin-bottom: 60px;
                @media (max-width: 991px) {
                    padding: 35px 40px 40px;
                    margin-top: 0;
                    flex-flow: wrap;
                    justify-content: center;
                    row-gap: 15px;
                }
                .services-details-box-inner {
                    width: calc(25% - 20px);
                    @media (max-width: 991px) {
                        width: calc(50% - 20px);
                        text-align: center;
                    }
                    @media (max-width: 575px) {
                        width: 100%;
                    }
                    span {
                        color: $grey-color;
                        font-size: 14px;
                        margin-bottom: 5px;
                        display: inline-block;
                    }
                    h3 {
                        font-size: 18px;
                        color: $blue-color;
                        line-height: 1.3;
                        font-family: $quicksand-font;
                    }
                }
            }
        }
    }
    .services-details-text {
        p {
            font-size: 16px;
            color: $grey-color;
            line-height: 1.7;
            margin-bottom: 15px;
            &:nth-child(1) {
                font-size: 18px;
                color: $blue-color;
                margin-bottom: 24px;
            }
        }
    }
    .services-details-inner-img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        @media (max-width: 991px) {
            flex-flow: wrap;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    h4 {
        font-family: $quicksand-font;
        color: $blue-color;
        font-size: 30px;
        margin: 30px 0 15px 0;
        font-weight: 700;
        line-height: 1.3;
    }
    p {
        font-size: 16px;
        color: $grey-color;
        line-height: 1.7;
        margin-bottom: 15px;
    }
}
