section.items-details {
    padding: 150px 0;
    @media (max-width: 991px) {
        padding: 50px 0;
    }
    .items-details-wrapper {
        background: #f3f6f7;
        padding: 80px;
        border-radius: 2px;
        display: flex;
        gap: 40px;
        margin-bottom: 60px;
        @media (max-width: 991px) {
            flex-wrap: wrap;
            padding: 40px;
        }
        @media (max-width: 767px) {
            padding: 40px 20px;
        }
        .items-details-left {
            background: $white-color;
            width: calc(50% - 40px);
            height: fit-content;
            @media (max-width: 991px) {
                width: 100%;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .items-details-right {
            width: calc(50% - 40px);
            @media (max-width: 991px) {
                width: 100%;
            }
            .price-main {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 20px;
                font-weight: 600;
                color: $blue-color;
                span {
                    &:last-child {
                        text-decoration: line-through;
                    }
                }
            }
            .rating-main {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 10px 0;
                color: $blue-color;
                font-size: 14px;
            }
            .product-name {
                padding-bottom: 20px;
                border-bottom: 1px dashed $light-blue;
                margin-bottom: 12px;
                h3 {
                    color: $blue-color;
                    font-size: 30px;
                    font-family: $quicksand-font;
                }
            }
            .product-details {
                p {
                    color: $grey-color;
                    line-height: 1.7;
                    font-size: 14px;
                }
            }
            ul {
                margin: 18px 0;
                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                    color: $grey-color;
                    font-size: 14px;
                }
            }
            .stock {
                margin-bottom: 20px;
                display: flex;
                gap: 10px;
                color: $grey-color;
                span {
                    &:first-child {
                        color: $blue-color;
                        font-weight: 600;
                    }
                }
            }
            .add-cart-main {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 20px;
                @media (max-width: 767px) {
                    flex-wrap: wrap;
                }
                .number {
                    position: relative;
                    input {
                        width: 85px;
                        height: 55px;
                        text-align: center;
                        border: 1px solid $light-blue;
                        color: $blue-color;
                        font-weight: 600;
                        font-size: 18px;
                        padding-left: 0;
                        padding-right: 30px;
                        appearance: none;
                        outline: none;
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        &::placeholder {
                            color: $blue-color;
                        }
                    }
                    .arrow-up {
                        position: absolute;
                        right: 8px;
                        top: 5px;
                        transform: rotate(180deg);
                        cursor: pointer;
                        transition: all ease 0.4s;
                        &:hover svg {
                            fill: $light-blue;
                        }
                    }
                    .arrow-down {
                        position: absolute;
                        right: 8px;
                        bottom: 5px;
                        cursor: pointer;
                        transition: all ease 0.4s;
                        &:hover svg {
                            fill: $light-blue;
                        }
                    }
                }
                .add-heart {
                    background-color: $light-blue;
                    width: 55px;
                    height: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: all ease 0.4s;
                    cursor: pointer;
                    &:hover {
                        background: $blue-color;
                    }
                    svg {
                        fill: $white-color;
                    }
                }
            }
            .product-info {
                margin-bottom: 8px;
                display: flex;
                gap: 10px;
                color: $grey-color;
                span {
                    color: $blue-color;
                }
            }
        }
    }
}
.items-two-section {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        li {
            font-size: 18px;
            color: $blue-color;
            font-weight: 600;
            cursor: pointer;
        }
        span {
            position: absolute;
            height: 1px;
            background: $light-blue;
            bottom: -1px;
            transition: all ease 0.4s;
            width: 200px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 12px;
                height: 12px;
                border-top: 1px solid $light-blue;
                border-left: 1px solid $light-blue;
                transform: rotate(45deg);
                margin: -6px 0 0 -6px;
                background-color: $white-color;
            }
        }
    }
    .items-two-section-description {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 30px;
        .items-two-section-img {
            display: flex;
            gap: 20px;
            margin-bottom: 35px;
            margin-top: 35px;
            @media (max-width: 991px) {
                flex-flow: wrap;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        p {
            margin-bottom: 15px;
            color: $grey-color;
            line-height: 1.7;
            font-size: 16px;
        }
    }
    .shop-details-heading {
        margin: 0 auto;
        max-width: 800px;
        margin-top: 40px;
        h3 {
            color: $blue-color;
            font-size: 24px;
            font-family: $quicksand-font;
            font-weight: 700;
            padding-bottom: 24px;
            position: relative;
            margin-bottom: 30px;
            &::after {
                background-color: $light-blue;
                width: 50px;
                height: 3px;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        p {
            color: $grey-color;
            line-height: 1.7;
            font-size: 16px;
            margin-bottom: 15px;
        }
        .shop-details-box {
            display: flex;
            align-items: center;
            margin: 20px 0;
            @media (max-width: 991px) {
                flex-flow: wrap;
            }
            .shop-details-box-left {
                width: 40%;
                @media (max-width: 991px) {
                    width: 100%;
                }
                .shop-details-box-icon-main {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 10px;
                    .shop-details-box-icon {
                        background: #fff;
                        box-shadow: 0px 10px 32.75px 0 rgba(0, 0, 0, 0.15);
                        border-radius: 50%;
                        min-width: 25px;
                        min-height: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .shop-details-box-text {
                        color: $grey-color;
                        font-size: 18px;
                    }
                }
            }
            .shop-details-box-right {
                width: 60%;
                padding: 48px 50px;
                line-height: 1.6;
                color: $grey-color;
                font-size: 18px;
                font-style: italic;
                border-left: 8px solid $light-blue;
                background: #f3f6f7;
                @media (max-width: 991px) {
                    width: 100%;
                }
                @media (max-width: 767px) {
                    padding: 30px;
                }
            }
        }
    }
}
.reviews-wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    .reviews-box {
        padding: 35px 35px 30px 35px;
        border: 1px solid #f0f0f0;
        margin-bottom: 30px;
        transition: all ease 0.4s;
        display: flex;
        gap: 30px;
        @media (max-width: 767px) {
            flex-flow: wrap;
            padding: 25px 25px 20px;
        }
        .reviews-box-img {
            @media (max-width: 767px) {
                width: 100%;
            }
            img {
                border-radius: 50%;
                @media (max-width: 767px) {
                    width: 150px;
                    height: auto;
                }
            }
        }
        .reviews-text {
            @media (max-width: 767px) {
                width: 100%;
            }
            .rating-name-star {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                .rating-name {
                    font-size: 24px;
                    font-family: $quicksand-font;
                    color: $blue-color;
                    line-height: 1.3;
                    font-weight: 800;
                }
            }
            .reviews-date {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $grey-color;
                font-size: 14px;
                font-family: $quicksand-font;
                font-weight: 800;
                margin-bottom: 10px;
                svg {
                    fill: $light-blue;
                }
            }
            p {
                line-height: 1.7;
                font-size: 16px;
                color: $grey-color;
                margin-bottom: 20px;
            }
        }
    }
    .reviews-heading {
        h3 {
            font-size: 24px;
            color: $blue-color;
            font-family: $quicksand-font;
            font-weight: 800;
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 15px;
            font-size: 16px;
            color: $grey-color;
            line-height: 1.7;
        }
        .your-reviews {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $grey-color;
            font-size: 16px;
            line-height: 1.7;
            margin-bottom: 18px;
        }
    }
    .reviews-text {
        width: 100%;
        margin-bottom: 25px;
        textarea {
            width: 100%;
            padding: 17px 60px 17px 30px;
            outline: none;
            border: 1px solid #e3e3e3;
            color: $grey-color;
            font-size: 16px;
            border-radius: 5px;
        }
    }
    .reviews-name-mail-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 20px;
        @media (max-width: 767px) {
            flex-flow: wrap;
        }
        .reviews-name {
            width: calc(50% - 15px);
            @media (max-width: 767px) {
                width: 100%;
            }
            position: relative;
            input {
                width: 100%;
                height: 60px;
                border-radius: 5px;
                border: 1px solid #e3e3e3;
                padding: 0 60px 0 30px;
                outline: none;
                &::placeholder {
                    color: $grey-color;
                    font-size: 14px;
                }
            }
            .icon {
                position: absolute;
                top: 22px;
                right: 23px;
                svg {
                    fill: $blue-color;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    .reviews-check-box {
        color: $grey-color;
        font-size: 16px;
        margin-bottom: 20px;
        cursor: pointer;
        input {
            margin-right: 10px;
        }
    }
}

.related-products-section {
    padding-top: 120px;
    @media (max-width: 991px) {
        padding-top: 40px;
    }
    .related-products-heading {
        h3 {
            font-size: 36px;
            font-weight: 800;
            font-family: $quicksand-font;
            line-height: 1.3;
            padding-bottom: 20px;
            margin-bottom: 30px;
            position: relative;
            color: $blue-color;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 50px;
                height: 3px;
                background-color: $light-blue;
            }
        }
    }
    .related-products-wrapper {
 display: flex;
 gap: 20px;
 @media (max-width:991px) {
    flex-flow: wrap;
    row-gap: 20px;
 }
}
}
