section.shop-section {
    padding: 150px 0;
    @media (max-width: 991px) {
        padding: 50px 0;
    }
    .filter-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        @media (max-width: 767px) {
            flex-flow: wrap;
        }
        .filter-left {
            p {
                color: $blue-color;
                font-size: 16px;
                line-height: 1.7;
            }
        }
        .filter-right {
            display: flex;
            align-items: center;
            gap: 15px;
            @media (max-width: 500px) {
                flex-flow: wrap;
            }
            .filter-label-main {
                display: flex;
                align-items: center;
                gap: 20px;
                .filter-label {
                    font-size: 16px;
                    color: $blue-color;
                }
                .filter-select {
                    position: relative;
                    select {
                        appearance: none;
                        background: transparent;
                        padding: 10px 30px 10px 20px;
                        outline: none;
                        border: 2px solid #e3e3e3;
                        border-radius: 5px;
                        color: $blue-color;
                    }
                    .down {
                        position: absolute;
                        right: 15px;
                        top: 11px;
                    }
                }
            }
            .filter-icon-main {
                display: flex;
                align-items: center;
                gap: 15px;
                .filter-icon-one {
                    background: rgba(7, 204, 236, 0.2);
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .filter-icon-two {
                    background: $blue-color;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    cursor: pointer;
                    svg {
                        fill: $white-color;
                    }
                }
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
    .shop-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-flow: wrap;
        @media (max-width: 991px) {
            flex-flow: wrap;
            row-gap: 20px;
        }
        &.flex-direction {
            justify-content: space-between;
            .shop-box {
                display: flex;
                @media (max-width:767px) {
                    display: inline-block;
                }
                .shop-box-img {
                    width: 50%;
                    @media (max-width:767px) {
                        width: 100%;
                    }
                    img {
                        max-width: 180px;
                        height: auto;
                        @media (max-width:767px) {
                        max-width: 100%;
                    }
                    }
                    .shop-cart-inner-link {
                        width: 30px;
                        height: 30px;
                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
                .shop-box-text {
                    border-left: none;
                    border-top: 1px solid #f3f6f7;
                    text-align: left;
                    width: 50%;
                    @media (max-width:767px) {
                        width: 100%;
                        text-align: center;
                    }
                    .shop-items-price {
                        justify-content: start;
                        @media (max-width:767px) {
                        justify-content: center;
                    }
                    }
                }
            }
        }
    }
    .pagination-main {
    margin-top: 40px;
    ul{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        li{
            background: $white-color;
            border: 2px solid #eef1f5;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $blue-color;
            font-weight: 600;
            &.active{
                background: $light-blue;
                color: $white-color;
            }
        }
    }
}
}
.shop-box {
    width: calc(33.33% - 20px);
    text-align: center;
    transition: all ease 0.4;
    @media (max-width: 991px) {
        width: calc(50% - 20px);
    }
    @media (max-width: 767px) {
        width: 100%;
    }
    &:hover {
        box-shadow: 0px 7px 40px 0px rgba(39, 71, 125, 0.12);
    }
    &:hover .shop-box-img .shop-cart-link {
        margin-top: 0;
        opacity: 1;
        transition-delay: 0.4s;
        visibility: visible;
    }
    &:hover .shop-box-img::before {
        left: 0;
    }
    &:hover .shop-box-img::after {
        right: 0;
    }
    .shop-box-img {
        background-color: #f3f6f7;
        overflow: hidden;
        position: relative;
        text-align: center;
        &::before {
            content: "";
            position: absolute;
            left: -50%;
            top: 0;
            width: 50%;
            height: 100%;
            background-color: $blue-color;
            opacity: 0.5;
            z-index: 1;
            transition: all ease 0.4s;
        }
        &::after {
            content: "";
            position: absolute;
            right: -50%;
            top: 0;
            width: 50%;
            height: 100%;
            background-color: $blue-color;
            opacity: 0.5;
            z-index: 1;
            transition: all ease 0.4s;
        }
        img {
            width: 100%;
            height: auto;
        }
        .shop-cart-link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            gap: 15px;
            align-items: center;
            z-index: 1111;
            margin-top: -20px;
            opacity: 0;
            visibility: hidden;
            transition: all ease 0.4s;
            .shop-cart-inner-link {
                background: #fff;
                z-index: 1;
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                transition: all ease .4s;
                &:hover{
                    background: $light-blue;
                }
                &:hover svg{
                    fill: $white-color;
                }
                svg {
                    fill: $black-color;
                }
            }
        }
    }
    .shop-box-text {
        padding: 25px 20px;
        border: 1px solid #f3f6f7;
        border-top: none;
        transition: all ease 0.4s;
        .shop-rating-main {
            margin-bottom: 10px;
        }
        .shop-items-name {
            h3 {
                color: $blue-color;
                font-size: 18px;
                cursor: pointer;
                font-family: $quicksand-font;
                margin-bottom: 5px;
            }
        }
        .shop-items-price {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 7px;
        }
    }
}
