section.team{
    padding: 150px 0;
    @media (max-width:991px) {
        padding: 50px 0;
    }
    .team-wrapper {
display: flex;
flex-flow: wrap;
align-items: center;
justify-content: space-between;
row-gap: 30px;
.meet-doctors-box {
width: calc(33.33% - 20px);
border: 1px solid #EDF2F9;
@media (max-width:1199px) {
    width: calc(50% - 20px);
}
@media (max-width:767px) {
    width: 100%;
}
}
}
}