@font-face {
    font-family: "Arial CE";
    src: url("./font/ArialCE.eot");
    src:
        url("./font/ArialCE.eot?#iefix") format("embedded-opentype"),
        url("./font/ArialCE.woff2") format("woff2"),
        url("./font/ArialCE.woff") format("woff"),
        url("./font/ArialCE.ttf") format("truetype"),
        url("./font/ArialCE.svg#ArialCE") format("svg");
    // font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Quicksand";
    src: url("./font/Quicksand-Regular.eot");
    src:
        url("./font/Quicksand-Regular.eot?#iefix") format("embedded-opentype"),
        url("./font/Quicksand-Regular.woff2") format("woff2"),
        url("./font/Quicksand-Regular.woff") format("woff"),
        url("./font/Quicksand-Regular.ttf") format("truetype"),
        url("./font/Quicksand-Regular.svg#Quicksand-Regular") format("svg");
    // font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src:
        url("./font/Roboto-Regular.woff2") format("woff2"),
        url("./font/Roboto-Regular.woff") format("woff"),
        url("./font/Roboto-Regular.ttf") format("truetype") url("./font/Roboto-Regular.svg#Roboto-Regular")
            format("svg");
    // font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dancing Script';
    src: url('./font/DancingScript-Regular.eot');
    src: url('./font/DancingScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/DancingScript-Regular.woff2') format('woff2'),
        url('./font/DancingScript-Regular.woff') format('woff'),
        url('./font/DancingScript-Regular.ttf') format('truetype'),
        url('./font/DancingScript-Regular.svg#DancingScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
