$blue-color: #27477d;
$light-blue: #07ccec;
$grey-color: #888c92;
$black-color: #000000;
$white-color: #ffffff;
$text-color-tow:#9FB3D5;
$h2-font-size: 48px;
$h3-font-size: 30px;
$p-font-size: 16px;
$arial-font: Arial CE;
$roboto-font: "Roboto";
$quicksand-font: "Quicksand";
$dancing-font:"Dancing Script";
