footer {
    background: url(/img/footer-bg.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 80px 0 25px;
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        @media (max-width: 991px) {
            flex-flow: wrap;
            justify-content: center;
        }
        .footer-inner {
            padding: 0 12px;
            width: calc(25% - 10px);
            @media (max-width: 991px) {
                width: calc(50% - 20px);
            }
            @media (max-width: 767px) {
                width: 100%;
            }
            h3 {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.2;
                font-family: $quicksand-font;
                position: relative;
                padding-bottom: 20px;
                margin-bottom: 32px;
                &::after {
                    content: "";
                    position: absolute;
                    background: $light-blue;
                    height: 3px;
                    width: 40px;
                    border-radius: 3px;
                    left: 0;
                    bottom: 0;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background: $white-color;
                    height: 3px;
                    width: 8px;
                    border-radius: 3px;
                    left: 45px;
                    bottom: 0;
                }
            }
            p {
                font-size: 16px;
                line-height: 1.7;
                font-weight: 400;
                max-width: 230px;
                margin-bottom: 15px;
            }
            a.contact-item {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 15px;
                font-size: 22px;
                color: $light-blue;
                font-family: $quicksand-font;
                line-height: 1.3;
                font-weight: 700;
                @media (max-width: 1200px) {
                    gap: 13px;
                }
                &:hover {
                    color: $white-color;
                }
                &:hover svg {
                    fill: $white-color;
                }
                svg {
                    width: 22px;
                    height: 22px;
                    fill: $light-blue;
                }
            }
            .service-item {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 14px;
                &:hover a {
                    color: $light-blue;
                }
                &:hover svg {
                    fill: $white-color;
                }
                svg {
                    fill: $light-blue;
                    width: 7px;
                    height: 15px;
                }
            }
            .visiting-hours-item {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px dashed rgba(223, 223, 224, 0.1);
                font-size: 16px;
                line-height: 1.2;
            }
            .visiting-location {
                margin-top: 30px;
                display: flex;
                gap: 20px;
                svg {
                    fill: $light-blue;
                    width: 20px;
                    height: 20px;
                }
                a {
                    line-height: 1.4;
                    text-decoration: underline;
                    &:hover{
                        color: $light-blue;
                    }
                }
            }
            .gallery-main {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                overflow: hidden;
                .gallery-inner {
                    width: calc(33.33% - 10px);
                    height: 80px;
                    overflow: hidden;
                    @media (max-width: 991px) {
                        height: auto;
                    }
                    img {
                        transition: all ease 0.4s;
                        @media (max-width: 991px) {
                            width: 100%;
                            height: auto;
                        }
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}
.footer-bottom-main {
    background: $light-blue;
    color: $white-color;
    .footer-bottom-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-left {
            font-size: 16px;
            font-weight: 600;
            padding: 20px 0;
            line-height: 1.7;
            a {
                text-decoration: underline;
                &:hover{
                    color: $blue-color;
                }
            }
        }
        .footer-right {
            display: flex;
            align-items: center;
            gap: 40px;
            @media (max-width:991px) {
                display: none;
            }
            a {
                font-size: 16px;
                font-weight: 600;
                padding: 25px 10px;
                position: relative;
                &:hover::after {
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    background-color: #27477d;
                    transform: scale(0);
                    opacity: 0;
                    visibility: hidden;
                    transition: all ease 0.4s;
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}
